
.form-signin {
    border: 2px solid #6aa5b4;
    width: 100%;
    max-width: 377px;
    padding: 26px;
    margin: auto;
    background: #eef8ff;
    border-radius: 15px;
    margin-top: 15%;
}

.login-card {
    width: 100%;
    max-width: 600px;
    padding: 0px 0px 15px 15px;
    margin: auto;
}